<app-header></app-header>
<app-gesture-observer></app-gesture-observer>
<app-home ngSkipHydration></app-home>
<app-about/>
<app-gallery/>
<app-tour/>
<app-testimonials/>
<app-press-list/>
<app-press-detail/>
<app-contact></app-contact>
<app-footer></app-footer>

<!-- src/app/app.component.html -->
<!-- src/app/app.component.html -->
<!-- <app-preloader
  *ngIf="showPreloader"
  (animationDone)="onPreloaderDone()">
</app-preloader>

<ng-container *ngIf="!showPreloader">
  <app-header></app-header>
  <app-gesture-observer></app-gesture-observer>
  <app-home ngSkipHydration></app-home>
  <app-about></app-about>
  <app-gallery></app-gallery>
  <app-tour></app-tour>
  <app-testimonials></app-testimonials>
  <app-press-list></app-press-list>
  <app-press-detail></app-press-detail>
  <app-contact></app-contact>
  <app-footer></app-footer>
</ng-container> -->


<!-- <app-preloader
  *ngIf="showPreloader"
  (animationDone)="onPreloaderDone()">
</app-preloader>

<ng-container *ngIf="!showPreloader">
  <app-header></app-header>
  
  <router-outlet></router-outlet>

  <app-footer></app-footer>
</ng-container> -->
