<h2 #galleryHeading class="gallery-title">
        GALLERY <span class="highlight">DJ Seborn</span>
      </h2>
<div class="container" #container id="gallery">
     
  <div class="canvas" #canvas></div>
  <div class="overlay" #overlay></div>
</div>
<div class="project-title">
  <p #projectTitle></p>
</div>
<!-- Page vignette effects -->
<div class="page-vignette-container">
  <div class="page-vignette"></div>
  <div class="page-vignette-strong"></div>
  <div class="page-vignette-extreme"></div>
</div>
