<section class="hero-background">
  <!-- Left Side Image (Background Image) -->
  <div class="hero-image"></div>

  <!-- Right Content Area (Morphing Text + Button) -->
  <div class="hero-content">
    <!-- Morphing Text as Hero Heading -->
    <div id="container">
      <span id="text1">'DJ' 
        <br>'The Producer'<br> 'Remixer',<br>
    'Bollywood-Tech Pioneer',<br>
    'Based in Pune, India',<br>
      </span>
      <span id="text2"></span>
    </div>

    <!-- Book Now Button -->
    <div class="book-now">
      <div class="button-wrap">
        <div class="button-shadow"></div>
        <button class="animated-book-now" (click)="scrollToContact()">
          <span>BOOK NOW</span>
        </button>
      </div>
    </div>
  </div>
</section>
